/* 全体 */
body {
  background: radial-gradient(rgb(223, 238, 250), rgba(9, 111, 174, 0.75)), url(./../../img/background.jpg);
  background-size: contain; 
  background-repeat: repeat-y;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

header {
  width: 500px;
  height: 140px;
  margin: 0 auto;
  text-align: center;
}

.header-zone {
  width: 280px;
  height: 90px;
  margin: 30px auto 0;
  display: flex;
}

header h1 {
  font-size: 22px;
  line-height: 60px;
  font-weight: bold;
  color: rgb(50, 50, 50);;
  margin-bottom: 10px;
} 

.goal-pic {
  height: 90px;
  width: 140px;
}

.todo-pic {
  height: 90px;
  width: 140px;
}

header a {
  text-decoration: none;
}

h1 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: midnightblue;
}

main {
  width: 600px;
  margin: 30px auto;
  padding-bottom: 30px;
}

/* トップページ */
h2 {
  font-size: 20px;
  text-align: center;
  margin: 30px auto 8px;
}

h2 a {
  color: black;
  font-weight: bold;
  color: midnightblue;
}

.list-group-item {
  display: flex;
}

input[type="checkbox"]:checked + a {
  text-decoration: line-through;
  color: gray;
}

input[type="checkbox"] {
  position: relative;
  margin-top: 6px;
  margin-right: 8px;
}

.goal-list {
  max-width: 500px;
  color:black;
}

.todo-list {
  max-width: 480px;
  color:black;
}

.goal-delete-btn  {
  font-size: 14px;
  margin-left: auto;
  padding-left: 8px;
}

.delete-btn  {
  font-size: 14px;
  margin-left: auto;
  padding-left: 8px;
}

/* 新規作成 */
.goal-new-textarea {
  width: 600px;
  margin: 10px auto 0;
}

.new-title {
  font-size: 18px;
  font-weight: bold;
}

.new-title-text {
  width: 600px;
  margin: 0 auto 10px;
}

.new-detail {
  font-size: 18px;
  font-weight: bold;
}

.new-detail-textarea {
  width: 600px;
  margin: 0 auto;
}

/* 詳細ページ */
h1.detail-page {
  margin: 30px auto 15px;
}

.detail-block {
  display: table;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  border-radius: .25rem;
}

.detail-title {
  font-size: 20px;
  font-weight: bold;
}

.detail-title-text {
  width: 600px;
  margin: 2px auto 0;
  line-height: 25px;
  border-bottom: solid;  
  border-width: 2px;
}

.detail-detail {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.detail-detail-textarea {
  width: 600px;
  margin: 2px auto 0;
  line-height: 25px;
  border-bottom: solid;
  border-width: 2px;
}

.detail-status {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.detail-status-text {
  width: 85px;
  margin: 2px auto 0 0;
  line-height: 25px;
  border-bottom: solid;
  border-width: 2px;
}

.detail-button {
  margin-top: 15px;
}

/* 編集ページ */
.goal-edit-textarea {
  width: 600px;
  margin: 10px auto 0;
}

.edit-title {
  font-size: 18px;
  font-weight: bold;
}

.edit-title-text {
  width: 600px;
  margin: 0 auto 10px;
}

.edit-detail {
  font-size: 18px;
  font-weight: bold;
}

.edit-detail-textarea {
  width: 600px;
  margin: 0 auto;
}

/* レスポンシブデザイン */

/* 全体 */
@media (max-width: 767px) {
  body {
    background: radial-gradient(rgb(223, 238, 250), rgba(9, 111, 174, 0.75));
    background-size: contain; 
    background-repeat: repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  header {
    width: 100%;
    height: 70px;
  }

  .header-zone {
    width: 220px;
    height: 70px;
    margin: 15px auto 0;
  }

  .goal-pic {
    height: 70px;
    width: 110px;
  }
  
  .todo-pic {
    height: 70px;
    width: 110px;
  }

  header h1 {
    font-size: 15px;
    line-height: 30px;
  } 

  main {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto; 
  }

  /* トップページ */

  h2 {
    font-size: 15px;
    text-align: center;
    margin: 110px auto 8px;
  }  

  .list-group {
    font-size: 15px;
    width: 90vw;
    margin: 10px auto;
  }

  .list-group-item {
    padding: 8px;
  }

  .goal-list {
    width: 70vw;
  }
  
  .todo-list {
    width: 70vw;
  }

  .goal-delete-btn  {
    font-size: 10px;
    width: 44px;
    padding-left: 4px;
  }

  .delete-btn  {
    font-size: 10px;
    width: 44px;
    padding-left: 4px;
  }

  /* 新規作成 */
  h1 {
    font-size: 15px;
    text-align: center;
    margin: 10px auto 8px;
  } 

  .goal-new-textarea {
    width: 100vw;
  }

  .new-title {
    font-size: 15px;
  }
  
  .new-title-text {
    width: 100vw;
  }
  
  .new-detail {
    font-size: 15px;
  }
  
  .new-detail-textarea {
    width: 100vw;
  }

  /* 詳細ページ */
  .detail-page {
    padding-top: 30px;
  }

  .detail-block {
    width: 90vw;
  }
  
  .detail-title {
    font-size: 18px;
  }
  
  .detail-title-text {
    width: 90vw;
  }
  
  .detail-detail {
    font-size: 18px;
  }
  
  .detail-detail-textarea {
    width: 90vw;
  }
  
  .detail-status {
    font-size: 18px;
  }

  /* 編集ページ */
  .goal-edit-textarea {
    width: 100vw;
  }

  .edit-title {
    font-size: 15px;
  }
  
  .edit-title-text {
    width: 100vw;
  }
  
  .edit-detail {
    font-size: 15px;
  }
  
  .edit-detail-textarea {
    width: 100vw;
  }
}